.container{
    margin-left: 2rem;
    margin-right: 2rem;
}

.capa {
    background-image: url("../../assets/g_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    max-width: 812px;
    position: relative;
  }
  
  .cardCapa {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  