.container{
    display: flex;
    flex-direction: column;
}

.galeria{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: max-content; /* ocupa só o espaço necessário */
    margin: 0 auto;     /* centraliza horizontalmente */
  
}