.container{
    display: flex;
    flex-direction: column;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
    width: max-content; 
    margin: 0 auto;     
}

@media only screen and (max-width: 600px){
    .galeria{
        grid-template-columns: 1fr;
    }

}