.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.items{
    display: flex;
    width: 40%;
    justify-content: space-around;
}


li{
    list-style: none;
}

a{
 text-decoration: none;
 color: black;
}

@media only screen and (max-width: 600px){

    .items{
        width: 90%;
    }
}
