

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
}

.socials{
    justify-content: space-around;
}

.container img{
    width: 20px;
    margin: 20px;
}